{
    "defaults": {
        "level": "warning",
        "wait": 500,
        "chromeLaunchConfig": {
            "ignoreHTTPSErrors": true,
            "args": ["--disable-dev-shm-usage", "--no-sandbox"]
        }
    },
    "urls": [
        "http://127.0.0.1:3000/",
        "http://127.0.0.1:3000/about/dsnpmd-projects",
        "http://127.0.0.1:3000/about/faq",
        "http://127.0.0.1:3000/about/partners",
        "http://127.0.0.1:3000/about/team",
        "http://127.0.0.1:3000/citation-and-license",
        "http://127.0.0.1:3000/contact",
        "http://127.0.0.1:3000/data-sources",
        {
            "url": "http://127.0.0.1:3000/data-sources/others",
            "actions": ["wait for element section[aria-label=\"Data sources results\"] to be visible"]
        },
        {
            "url": "http://127.0.0.1:3000/data-sources/quality-registries",
            "actions": ["wait for element section[aria-label=\"Quality registries results\"] to be visible"]
        },
        {
            "url": "http://127.0.0.1:3000/data-sources/swedish-research-cohorts",
            "actions": ["wait for element section[aria-label=\"Cohorts and biobank studies results\"] to be visible"]
        },
        "http://127.0.0.1:3000/digifor1health",
        "http://127.0.0.1:3000/omop-cdm",
        "http://127.0.0.1:3000/privacy",
        "http://127.0.0.1:3000/accessibility"
    ]
}
