{
    "defaults": {
        "level": "warning",
        "chromeLaunchConfig": {
            "ignoreHTTPSErrors": true,
            "args": ["--disable-dev-shm-usage", "--no-sandbox"]
        }
    },
    "urls": [
        "http://127.0.0.1:3000/",
        "http://127.0.0.1:3000/about",
        "http://127.0.0.1:3000/citation-and-license",
        "http://127.0.0.1:3000/contact",
        "http://127.0.0.1:3000/data-sources",
        "http://127.0.0.1:3000/digifor1health",
        "http://127.0.0.1:3000/omop-cdm",
        "http://127.0.0.1:3000/privacy"
    ]
}